In [1]:
import pandas as pd
import numpy as np

In [3]:
git_utr = 'https://github.com/lju-lazarevic/wine/tree/master' # GitHub's repository 
file_url = 'https://raw.githubusercontent.com/lju-lazarevic/wine/refs/heads/master/data/winemag-data-130k-v2.csv'

In [4]:
df = pd.read_csv(file_url)
df.head()

,id,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,dupe?
0,94355,Austria,"""Chremisa,"" the ancient name of Krems, is comm...",Edition Chremisa Sandgrube 13,85,24.0,Niederösterreich,NaN,NaN,Roger Voss,@vossroger,Winzer Krems 2011 Edition Chremisa Sandgrube 1...,Grüner Veltliner,Winzer Krems,NaN
1,126883,US,$10 for this very drinkable Cab? That's crazy....,NaN,87,10.0,California,North Coast,North Coast,Virginie Boone,@vboone,Line 39 2009 Cabernet Sauvignon (North Coast),Cabernet Sauvignon,Line 39,NaN
2,119493,US,$14 is a pretty good price for a Chardonnay th...,Whiplash,86,14.0,California,California,California Other,NaN,NaN,Jamieson Ranch 2011 Whiplash Chardonnay (Calif...,Chardonnay,Jamieson Ranch,NaN
3,126909,Spain,"). Earth, cola and leather aromas are good, ho...",Finca Resalso,86,15.0,Northern Spain,Ribera del Duero,NaN,Michael Schachner,@wineschach,Emilio Moro 2009 Finca Resalso (Ribera del Du...,Tinto Fino,Emilio Moro,NaN
4,119752,Spain,). Light and lemony on the nose. The palate ha...,NaN,87,17.0,Galicia,Rías Baixas,NaN,Michael Schachner,@wineschach,La Caña 2010 Albariño (Rías Baixas),Albariño,La Caña,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119988 entries, 0 to 119987
Data columns (total 15 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id                     119988 non-null  int64
 1   country                119929 non-null  object
 2   description            119988 non-null  object
 3   designation            85443 non-null   object
 4   points                 119988 non-null  int64
 5   price                  111593 non-null  float64
 6   province               119929 non-null  object
 7   region_1               100428 non-null  object
 8   region_2               46769 non-null   object
 9   taster_name            95071 non-null   object
 10  taster_twitter_handle  90542 non-null   object
 11  title                  119988 non-null  object
 12  variety                119987 non-null  object
 13  winery                 119988 non-null  object
 14  dupe?                  0 non-null       float64
dtypes: float64(2), int64(2), object(11)
memory usage: 13.7+ MB

In [6]:
# To know all countrys on this df

df.country.value_counts().reset_index()

                   country  count
0                       US  50457
1                   France  20353
2                    Italy  17940
3                    Spain   6116
4                 Portugal   5256
5                    Chile   4184
6                Argentina   3544
7                  Austria   3034
8                Australia   2197
9                  Germany   1992
10            South Africa   1301
11             New Zealand   1278
12                  Israel    466
13                  Greece    432
14                  Canada    226
15                Bulgaria    132
16                 Hungary    129
17                 Romania    102
18                 Uruguay     98
19                  Turkey     81
20                Slovenia     77
21                 Georgia     76
22                 Croatia     70
23                  Mexico     68
24                 England     63
25                 Moldova     56
26                  Brazil     49
27                 Lebanon     32
28                 Morocco     24
29                    Peru     16
30                 Ukraine     14
31               Macedonia     11
32          Czech Republic     11
33                  Cyprus     10
34                  Serbia      8
35                   India      8
36             Switzerland      6
37              Luxembourg      5
38  Bosnia and Herzegovina      2
39                 Armenia      2
40                Slovakia      1
41                   Egypt      1
42                   China      1

In [7]:
df[(df['country'] == 'Canada') & (df['points'] >= 95)]

Empty DataFrame
Columns: [id, country, description, designation, points, price, province, region_1, region_2, taster_name, taster_twitter_handle, title, variety, winery, dupe?]
Index: []

In [8]:
df[(df['country'] == 'Canada') & (df['points'] > 90)]['points'].sort_values(ascending=False)

85168     94
61254     94
70376     94
32995     93
14629     93
          ..
103450    91
107055    91
103980    91
115915    91
118139    91
Name: points, Length: 83, dtype: int64

In [9]:
def points_to_stars(df_row):
    if (df_row['points'] >= 95) | (df_row['country'] == 'Canada'):
          return 3
    elif df_row['points'] >= 85:
         return 2
    else:
         return 1

In [10]:
df['points'] = df.apply(points_to_stars, axis=1)

In [11]:
df['points'].value_counts()

points
2    105291
1     12079
3      2618
Name: count, dtype: int64

In [12]:
brazil_wine = df.query('country == "Brazil"' ).drop(columns=['id', 'country','region_1', 'region_2', 'dupe?','taster_name', 'taster_twitter_handle']).reset_index(drop=True)

In [13]:
brazil_wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   description  49 non-null     object
 1   designation  48 non-null     object
 2   points       49 non-null     int64
 3   price        44 non-null     float64
 4   province     49 non-null     object
 5   title        49 non-null     object
 6   variety      49 non-null     object
 7   winery       49 non-null     object
dtypes: float64(1), int64(1), object(6)
memory usage: 3.2+ KB

1.¶
Who are the most common wine reviewers in the dataset? Create a Series whose index is the taster_twitter_handle category from the dataset, and whose values count how many reviews each person wrote.

In [14]:
df.taster_twitter_handle.value_counts()

taster_twitter_handle
@vossroger          23560
@wineschach         14046
@kerinokeefe         9697
@paulgwine           8868
@vboone              8708
@mattkettmann        5730
@JoeCz               4766
@wawinereport        4461
@gordone_cellars     3766
@AnneInVino          3290
@laurbuzz            1700
@suskostrzewa        1023
@worldwineguys        897
@bkfiona               24
@winewchristina         6
Name: count, dtype: int64

In [15]:
df.groupby('taster_twitter_handle').size()

taster_twitter_handle
@AnneInVino          3290
@JoeCz               4766
@bkfiona               24
@gordone_cellars     3766
@kerinokeefe         9697
@laurbuzz            1700
@mattkettmann        5730
@paulgwine           8868
@suskostrzewa        1023
@vboone              8708
@vossroger          23560
@wawinereport        4461
@wineschach         14046
@winewchristina         6
@worldwineguys        897
dtype: int64

In [16]:
df.groupby('taster_name').taster_twitter_handle.count()

taster_name
Alexander Peartree        0
Anna Lee C. Iijima        0
Anne Krebiehl MW       3290
Carrie Dykes              0
Christina Pickard         6
Fiona Adams              24
Jeff Jenssen            436
Jim Gordon             3766
Joe Czerwinski         4766
Kerin O’Keefe          9697
Lauren Buzzeo          1700
Matt Kettmann          5730
Michael Schachner     14046
Mike DeSimone           461
Paul Gregutt           8868
Roger Voss            23560
Sean P. Sullivan       4461
Susan Kostrzewa        1023
Virginie Boone         8708
Name: taster_twitter_handle, dtype: int64

## 2.
What is the best wine I can buy for a given amount of money? Create a `Series` whose index is wine prices and whose values is the maximum number of points a wine costing that much was given in a review. Sort the values by price, ascending (so that `4.0` dollars is at the top and `3300.0` dollars is at the bottom).

In [17]:
df.groupby('price')['points'].max().sort_index()

price
4.0       2
5.0       2
6.0       2
7.0       2
8.0       2
         ..
1900.0    3
2000.0    3
2013.0    2
2500.0    3
3300.0    2
Name: points, Length: 390, dtype: int64

In [18]:
df['points'].value_counts()

points
2    105291
1     12079
3      2618
Name: count, dtype: int64

In [19]:
brazil_wine.head()

,description,designation,points,price,province,title,variety,winery
0,A dark color and a soft nose with woodsy cherr...,Paradoxo,2,NaN,Campanha,Salton 2014 Paradoxo Pinot Noir (Campanha),Pinot Noir,Salton
1,A dark salmon color and yeasty soapy aromas an...,Poética Rosé,2,NaN,Brazil,Salton NV Poética Rosé Sparkling (Brazil),Sparkling Blend,Salton
2,A light color and tropical aromas of lime and ...,Intenso Brut,2,NaN,Serra Gaúcha,Salton NV Intenso Brut Sparkling (Serra Gaúcha),Sparkling Blend,Salton
3,A nose based on candied fruit is pretty much t...,Macaw Smooth,1,15.0,Vale Trentino,Casa Perini 2016 Macaw Smooth Merlot (Vale Tre...,Merlot,Casa Perini
4,"A sniff of this blend of Cabernet Sauvignon, M...",Quatro,2,60.0,Vale Trentino,Casa Perini 2012 Quatro Red (Vale Trentino),Red Blend,Casa Perini

In [20]:
brazil_wine.isna().sum()

description    0
designation    1
points         0
price          5
province       0
title          0
variety        0
winery         0
dtype: int64

In [21]:
brazil_wine.nunique()

description    49
designation    38
points          2
price          18
province        8
title          49
variety        14
winery         11
dtype: int64